div#gug{
    padding-top: 20px;
    padding-left: 20px;
}
.gtable{
    font-family:arial,sans-serif;
    font-size:13px;
    color:rgb(56,151,178);
    border:1px solid rgb(79,164,188);
    border-collapse: collapse;
}
.gth{
    border:1px solid black;
    overflow: hidden;
    color: while;
    background-color: black;
    padding: 8px;
}
td{
    border:1px solid black;
    overflow: hidden;
    text-align: right;
    padding: 8px;
}
a{
    text-decoration: none;
}
.symbol{
    text-align: left;
}
span.down{
    color: red;
}
span.up{
    color: green;
}
tr:nth-child(even){
    background: rgb(236,246,250);
}
tr:nth-child(odd){
    background: #fafafa
}
tbody td:hover{
    background-color: yellow;
}
td.symbol:hover{
    text-decoration: underline;
}
